<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvTGCiGGUHFcCv1xr72TBlyi1ltiJ1AZc</string>
	<key>GCM_SENDER_ID</key>
	<string>635353279046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vaultspend.vaultspend</string>
	<key>PROJECT_ID</key>
	<string>vaultspend-d55cb</string>
	<key>STORAGE_BUCKET</key>
	<string>vaultspend-d55cb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635353279046:ios:c0fd1f08c190c7d90bf847</string>
</dict>
</plist>